[package]
name = "ctor"
version = "0.5.0"
authors = ["Matt Mastracci <matthew@mastracci.com>"]
edition = "2021"
description = "__attribute__((constructor)) for Rust"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/mmastrac/rust-ctor"
readme = "../README.md"

[features]
default = ["dtor", "proc_macro", "__no_warn_on_missing_unsafe"]

# Enable the dtor re-export
dtor = ["dep:dtor"]

# Enable the proc_macro
proc_macro = ["dep:ctor-proc-macro", "dtor?/proc_macro"]

# For nightly users, used(linker) may be a better choice
used_linker = ["dtor?/used_linker"]

# As we are warning on missing unsafe, allow users to temporarily opt out
__no_warn_on_missing_unsafe = ["dtor?/__no_warn_on_missing_unsafe"]

[dependencies]
ctor-proc-macro = { version = "=0.0.6", optional = true }
dtor = { version = "0.1.0", default-features = false, optional = true }

[dev-dependencies]
libc-print = "0.1.20"

[[example]]
name = "example"
path = "src/example.rs"
